@font-face {
  font-family: "InaiMathi";
  src: url("InaiMathi\ Regular.ttf");
}

html { font-family: 'Inter', sans-serif; }

body,
h1,
h2,
h6,
ul {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  padding-left: 0;
  padding-right: 0;
  display: flex;
}

nav {
  width: 100%;
  height: 60px;
  background: #3c3a39;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.navbar-logo {
  display: flex;
  padding-left: 20px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  font-family: Roboto, sans-serif;
  color: #fff;
  text-decoration: none;
}

.navbar-menu {
  padding-right: 0;
}

.header-box {
  background-size: 256px;
  height: 600px;
  width: 100%;
  background-color: #1c1a19;
  display: flex;
  background-repeat: no-repeat;
  background-position: bottom right -110px;
  background-image: url("../icons/header-illustration.png");
}

.header-content {
  width: 327px;
  margin: 122px 22px;
}

.header-title {
  display: flex;
  width: 327px;
  font-family: "Crete Round", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 55px;
  line-height: 64px;
  color: #ff6b00;
}

.header-subtitle {
  display: flex;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #fff5e1;
}

.header-text-description {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}

.social-media {
  margin-top: 20px;
  top: 268px;
  left: 40px;
  display: flex;
  flex-direction: row;
  list-style: none;
}

.social-media-icon {
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.image-correction {
  margin-top: 15px;
  padding: 0 10px;
}

.new-container {
  display: grid;
  grid-template-columns: 1fr;
}

.recent-work {
  font-family: "Crete Round", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  display: grid;
  justify-content: center;
  margin-top: 170px;
}

.about-hr {
  border: 1px dotted #000;
  margin-bottom: 15px;
}

.image-p {
  display: grid;
  padding: 20px;
  margin: 20px;
}

.image-placeholder {
  display: grid;
  width: 100%;
  height: 400px;
}

.multi-post {
  font-family: "Crete Round", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  display: grid;
  justify-content: start;
  margin-top: 50px;
  color: #091e42;
}

.recent-detail {
  display: grid;
  justify-content: center;
  font-family: "Inter", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #091e42;
  margin-right: 30px;
}

.course {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 12px;
}

.list {
  border: 1px solid #8993a4;
  padding: 10px;
  font-size: 15px;
  font-family: Inter, sans-serif;
  line-height: 20px;
  list-style: none;
  box-sizing: border-box;
  font-style: normal;
  font-weight: 500;
}

.project {
  display: flex;
  padding: 12px;
  width: 124px;
  height: 48px;
  margin-top: 15px;
  background: #ff6b00;
  color: #fff;
  font-family: "Inter", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  border: none;
}

.project:hover {
  transition: all 0.2s ease-in-out;
  background: #fff5e1;
  border: 1px solid #f55800;
  color: #f55800;
}

.professional-work {
  display: grid;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  background-image: url("../Skeleton/Img\ Place.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
  position: relative;
}

.pro-art {
  display: grid;
  width: 98%;
}

.art-print {
  display: grid;
  font-family: "Crete Round", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
  margin-top: 20px;
}

.daily-selection {
  display: grid;
  justify-content: center;
  padding-top: 40px;
  font-family: "Inter", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
  color: #fff;
}

.pro-tag {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 12px;
  padding-top: 20px;
  padding-bottom: 40px;
}

.pro-h {
  border: 1px solid #8993a4;
  padding: 10px;
  font-size: 15px;
  font-family: "Inter", sans-serif;
  line-height: 20px;
  list-style: none;
  box-sizing: border-box;
  font-style: normal;
  font-weight: 500;
  color: #fff;
  background: rgba(255, 255, 255, 0.24);
}

.see-proj {
  width: 100%;
  height: 45px;
  background: #ff6b00;
  font-family: "Inter", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #fff;
  border: none;
  align-items: center;
  align-self: center;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  bottom: 0;
}

.see-proj:hover {
  transition: all 0.2s ease-in-out;
  background: #fff5e1;
  border: 1px solid #f55800;
  color: #f55800;
}

.about {
  background: #1c1a19;
}

.about-me {
  padding-top: 120px;
  padding-bottom: 209px;
  background-image: url("../Skeleton/Group.png");
  background-repeat: no-repeat;
  background-size: 493px 258px;
  background-position: bottom right -305px;
  margin-left: 24px;
  margin-right: 24px;
}

.about-head {
  font-size: 72px;
  line-height: 82px;
  letter-spacing: 0.33px;
  color: #ff6b00;
}

.btn {
  padding: 12px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  background: #f55800;
  color: #fff;
  border: 1px solid #f56b00;
}

.btn:hover {
  transition: all 0.2s ease-in-out;
  background: #fff5e1;
  border: 1px solid #f55800;
  color: #f55800;
}

.hello {
  font-family: "Inter", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #f4f5f7;
}

.about-separater {
  border: 1px solid #fff;
  margin-bottom: 136px;
}

.technologies {
  list-style: none;
  width: 100%;
  text-align: center;
  padding-bottom: 44px;
}

.tech-title {
  height: 41.46px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin-top: 2px;
  margin-bottom: 2px;
  color: #fff;
  font-size: 32px;
  font-weight: 700;
}

.tech {
  font-size: 22px;
  line-height: 43px;
  list-style: none;
  text-align: center;
  font-family: "Inter", serif;
  font-style: normal;
  font-weight: 400;
  color: #fff;
}

.tech-title > h5 {
  font-family: "inter", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
}
